<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>hello3.html</title>
</head>

<body>
	<h1>/templates/hello3.html</h1>
	<hr>
	
	
	<h3>타임리프로 반복문 생성하기</h3>
		
	<p>
		<span th:each="person, stat:${LIST}">
			<span>Name [[ ${stat.index + 1} ]] : [[ ${person.name} ]], Age : [[ ${person.age} ]]</span><br>
		</span>		
	</p>
	<hr>
	
	<h4>모델과 상관없이, 지정된 횟수만큼 반복을 수행해야 하는 경우</h4>
	
	<p>
		<span th:each="number : ${ #numbers.sequence(1, 7) }">
			<span>Current Number : [[ ${ number } ]]</span><br>
		</span>
	</p>
	
</body>

</html>